@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-mobile-studio/mobile-heroimg@2x.jpg);
  }
}
@media screen and (max-width: 428px) {
  .modal {
    padding: 72px 16px 16px 16px;
    width: calc(100% - 2 * 15px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 428px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 428px),
  screen and (min-resolution: 192dpi) and (min-width: 428px),
  screen and (min-resolution: 2dppx) and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images-tablet-studio/tablet-hero-img@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .adress {
    display: none;
  }

  .current.nav-link::after {
    display: none;
  }

  .nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--background-color);
  }

  .modal-mobile-number {
    font-size: 25px;
    line-height: 1.11;
    text-decoration: none;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--accent-color);
  }

  .modal-mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .hero-title {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1440px) {
  .features-list-link {
    display: none;
  }

  .section-exemples {
    display: none;
  }

  .filtr-btn {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 48px;
    gap: 24px;
  }

  .portfolio {
    justify-content: center;
  }
}
/* @media screen and (max-width: 1440px) {
  .features-list-link {
    display: none;
  }
} */
