@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .page-header-container {
    align-items: center;
  }
  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    color: var(--primary-text-color);
  }

  .header-container {
    padding: 0;
  }

  .adress-link {
    padding: 0;
  }

  .adress-link {
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.04em;
  }

  .contact-email {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }

  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img@1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img@2x.jpg);
    }
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    width: 496px;
    font-size: 56px;
    line-height: 1.08;
  }

  .features-list-card:not(:last-child) {
    margin-bottom: 0;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .features-list-card {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: left;
  }

  .team-section {
    padding-top: 104px;
    padding-bottom: 96px;
  }

  .team-title {
    width: calc((100% - 24) / 2);
  }

  .team {
    gap: 24px;
    row-gap: 64px;
  }

  .customers-container {
    max-width: 582px;
  }

  .customers {
    padding: 96px 108px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }

  .customers-list-link {
    height: 88px;
  }

  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 92px;
  }

  .portfolio {
    row-gap: 72px;
  }
  @media screen and (max-width: 1200px) {
    .portfolio-title {
      width: calc((100% - 24px) / 2);
    }
  }

  .filtr-btn {
    margin-bottom: 64px;
    justify-content: center;
  }

  /* .footer {
    padding-left: 108px;
    padding-right: 108px;
  } */

  @media screen and (min-width: 768px), (max-width: 1440px) {
    .footer-container {
      max-width: 582px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 72px;
    }

    .footer-position {
      gap: 24px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .footer-position {
    display: flex;
  }

  .footer-modal-form-wrapper {
    display: flex;
  }

  .footer-studio {
    margin: 0;
    text-align: left;
  }

  .footer-social-media {
    margin: 0;
  }
  .footer-paragraph {
    text-align: left;
  }

  .footer-social-list {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .footer-modal-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
  }

  .footer-modal-form-submit {
    margin: 0;
  }

  .footer-modal-form-title {
    text-align: left;
  }

  .footer-modal-form-feald {
    margin-right: 24px;
  }

  .sections-features {
    padding: 96px 0;
  }
}
